
html, body{
    height: 100%;
    margin: 0;
    background-color: rgb(95, 107, 119);
    font-weight:lighter; !important; 
}
@keyframes movingIllusion {
    from {background-position: 0% 50%;} to {background-position: 100% 50%;}
}

.fullscreen_img{
    height: 94%;
    width: 97%;
    position: relative;
    overflow: hidden;
    background:linear-gradient(to bottom,rgba(0, 0, 0, .6) , rgba(194, 173, 255, .55) , rgba(108, 59, 255, .5), rgba(0, 0, 0, .65)), url(screenshots/mountains.jpg);
    background-repeat: no-repeat;
    background-size: auto 180%;
    animation-name: movingIllusion;
    background-position: 0% 50%;
    animation: movingIllusion 60s linear infinite alternate;
    top: 3%;
    left: 1.5%;
    border-radius: 2%;

    opacity: .35;


}
.name{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 29%;
    z-index: 9;
    color: rgb(102, 0, 128);

}
.name>h1{
    font-size: 11vh;
    font-weight:lighter;

    text-shadow: 1px 1px 10px rgb(8, 7, 7);
}


.navbar-brand {
    color: rgb(102, 0, 128);

  font-size: 2.5dvh;
}

.navbar-brand:hover {
	color: white;
}

.navbar {

  font-size: 2.5dvh;
	/* Remove the navbar's default margin-bottom and rounded borders */
	margin-bottom: 0;
	margin-top: 0%;
    left: 1%;
	position: fixed;
	width: 80%;
  margin: 5dvw 5dvw ;
	z-index: 1;
	background-color: none;
  text-shadow: #333 1px 1px 2px;
}

.btn-navbar {
}

li a {
	padding: 10px;
    color: rgb(102, 0, 128);
}

li a:hover {
	text-decoration: rgb(215, 210, 210);
	color: rgb(245, 243, 252);
}

/* -------------------------------------------------------------------*/



:root {
  --card-width: 30vh;
}

.carousel {
  display: grid;
  gap: .5rem;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  anchor-name: --trip-carousel;
  counter-reset: day;
  
  /*  "break out" of body padding  */
  width: 92dvw;;
  margin-left: 0%;
  margin-right: 0%;
  
  /*  hide scrollbar  */
  scrollbar-width: none;

  /*  smooth scrolling  */
  scroll-behavior: smooth;
  
  
  /*  This doesn't work but it would be cool if it did  -- idea placeholder */
  /*   &::scroll-marker-group::before {
    content: 'Day: ';
    display: block;
  } */
  
  li::scroll-marker {
    content: counter(day-num);
    aspect-ratio: 1 / 1;
    width: 1rem;
    background: #444;
    padding: 0.2rem;
    font-size: 0.6rem;
    color: white;
    border-radius: 100%;
    cursor: pointer;
    display: grid;
    place-content: center;
    text-decoration: none;
    transition: transform 2s ease;
  }
  
  li::scroll-marker:target-current {
    anchor-name: --active-target;
    transform: translateY(-0.5rem);
  }
  
  /*  Move first item over a bit  */
  li:first-child {
    margin-left: 5rem;
  }
}

#week-2 {
  position: absolute;
  right: calc(-100dvw + var(--card-width));
  visibility: hidden;
}

.day-card {
  width: 24dvw;
  position: relative;
  overflow: hidden;
  counter-increment: day-num;
  scroll-snap-align: center;
  container-type: scroll-state;

    opacity: 0.75;

    transition: width 2s ease;

  
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/10;
    object-fit: contain;
    object-position: bottom;
    border-radius: 4%;
  }
  
  &:hover,
  &:focus {
    .meta {
      transform: translateY(0);
    }
 
    width: calc(var(--card-width) + 22rem);


  }

  .meta {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    background: rgb(102, 0, 128);
    color: rgb(220, 184, 236);
    
   
  }
  
  .desc {
    line-height: 1.2rem;
    font-weight: normal;
    padding: 1dvh;
  }
  
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  

}


h1 {
  font-size: 1.5rem;
  line-height: 2;
}

img {
  width: 100%;
}


.action-bar {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  gap: 1rem;
  
  a {
    border-bottom: 3px solid;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-color: dimgray;
    color: white;
  } 
}


#bottom_projects{
    position:absolute;
    bottom: 10%;
    z-index: 3;
    left: .1%;
}

div.meta{

    border-top-right-radius: 30%;
}
.left {
    position: fixed;
    left: 8.2%;
    bottom: 32%;
    font-size: 1.5rem;
    font-size: 2.5dvh;;
    color: rgb(102, 0, 128);

  text-shadow: #333 1px 1px 2px;
}

.about_me_container {
  position: fixed;
  top: 18%;
  left: 8%;
  width: 84%;
  font-size: 2.2dvh; 
  font-weight: bold;

  color: rgb(102, 0, 128);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /*background-color: rgba(255, 255, 255, 0.35);*/
  padding: 4%;

  background-color: rgba(255, 255, 255, 0.14);
    border-radius: 2%;
}

.about_me_container h1 {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

.about_me_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
}

.about_me_text {
  width: 55%;
}

#prof_pic {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.about_me_links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  font-size: 2.5dvh;
}
.about_me_links a{
  font-size: 2.5dvh;
  color: rgb(102, 0, 128);
  text-shadow: #333 1px 1px 2px;
} 
.about_me_links a:hover{
  color: white;
}
.about_me_links img {
  width: 4dvh;
  height: 4dvh;
  transition: transform 0.2s ease-in-out;
}

.about_me_links img:hover {
  transform: scale(1.2);
  cursor: pointer;
}


@media screen and (max-width: 767px) {
    .name>h1{
      font-size: 7vh;
    }
    .name{
        top: 26%;
    }
    #bottom_projects{
        top: 50%;
        width: 100%;
    }
    .left{
        bottom: 48%;
    }
    .day-card{
        width: 80dvw;
    }
    .meta span{
      font-weight: 600;
    }
    .meta .desc{
      font-size: smaller;
      padding: .3dvh;
      line-height: 0.8dvh;
    }

}
    .meta span{
      font-weight: bolder;
      color: white;
      line-height: 3dvh;
    }