.pink {
	background-color: #fff4f2;
}

.blue {
	background-color: #c3fbf4;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	color: rgb(142, 151, 248);
}

body {
	background-color: rgb(206, 196, 255);
	width: 80%;
	margin: 0 auto;
	box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.66);
}

h1 {
	font-weight: normal;
	text-align: center;
}

hr {
	border: none;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 75px;
	}

	h2 {
		font-size: 30px;
	}

	p.portfolio {
		font-size: 28px;
	}

	.text-center {
		position: relative;
		bottom: 15%;
	}
	
}

@media screen and (max-width: 799px) {
	.row {
		display: block;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.row {
		display: block;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 16px;
	}

	p {
		font-size: 12px;
	}

	p.portfolio {
		font-size: 19px;
	}

	.card-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

h2 {
	text-align: center;
	background-color: black;
	width: 20%;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.66);
}

hr {
	padding-top: 5%;
}

ul {
	list-style-type: circle;
	padding-left: 1.25rem;
}

ul li {
	margin-bottom: 0.40rem;
}

.black {
	color: black;
}

.jumbotron {
	background: linear-gradient(to bottom right, rgb(157, 162, 210) 32%, #0C0032 0%);
	height: 100%;
	color: rgb(215, 210, 210);
	padding-top: 22%;
	margin-bottom: 0%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.emphasis {
	color: rgb(142, 151, 248);
	text-shadow: 10px 5px 5px black;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.navbar-brand {
	color: rgb(142, 151, 248);
}

.navbar-brand:hover {
	color: white;
}

.navbar {
	/* Remove the navbar's default margin-bottom and rounded borders */
	margin-bottom: 0;
	position: fixed;
	width: 80%;
	margin: auto;
	z-index: 1;
	background-color: black;
}

.btn-navbar {
	font-size: 25px;
}

li a {
	margin-right: 10px;
	color: rgb(142, 151, 248);
}

li a:hover {
	text-decoration: rgb(215, 210, 210);
	color: rgb(245, 243, 252);
}

.goToProjectsBtn {
	margin-top: 14px;
	background-color: rgb(142, 151, 248);
	color: black;
	border: solid black normal;
	box-shadow: 10px 5px 5px black;
}

.goToProjectsBtn:hover {
	background-color: #6c3bff;
	color: white;
}

.project_notes {
	float: left;
}

.project_notes {
	width: 40%;
	margin-left: 10%;
	margin-right: 1%;
	overflow: auto;
}

a {
	color: #3500d3a6;
}

.card {
	width: 100%;
	background-color: #0C0032;
	box-shadow: 10px 5px 5px black;
	border: solid black thin;
	border-radius: 3%;
	overflow: hidden;
}

.clickable:hover {
	color: rgb(250, 250, 250);
	background-color: #6c3bff;
	border: solid grey normal;
}

img {
	opacity: 92%;
	border-radius: 3%;
}

.no-border {
	border: none;
}

.card-img-top,
.card-img-bottom {
	width: 100%;
}

.row {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.card {
	width: 100%;
	background-color: #0C0032;
	box-shadow: 10px 5px 5px black;
	border: solid black thin;
	border-radius: 3%;
	overflow: hidden;
}

.card-img-top,
.card-img-bottom {
	width: 100%;
}

@media screen and (min-width: 800px) {
	.row {
		display: flex;
		justify-content: space-between;
	}

	.col-md-12 {
		flex-basis: 100%;
	}
}

@media screen and (max-width: 799px) {
	.row {
		display: block;
	}

	.col-md-12 {
		width: 100%;
	}
}
.me_div{
	display: flex;
}
#me_pic {
	width: 25%;
	height: 40%;
	margin-right: 5%;
}

.right_pic_text{
	width: 60%;
	height:40%;
}
